   body {
        background: #1c1c1c;
        margin: 0;
        font-family: Arial, sans-serif;
        color: white;
    }

    .container {
        padding: 40px;
        max-width: 1200px;
        margin: auto;
        margin-top: 130px;
    }

    .titulo-secao {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .cartao-info {
        background: #0d2b61;
        padding: 25px;
        border-radius: 12px;
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
    }

    .icone-acess {
        width: 45px;
        height: 45px;
        margin-bottom: 10px;
        filter: invert(100%);
        opacity: 0.9;
    }


    .grade-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 10px;
    }

    .caixa {
        background: #0d2b61;
        border-radius: 12px;
        padding: 15px;
    }
    .avaliacao {
        background: #0d2b61;
        border-radius: 12px;
        padding: 20px;
        margin-top: 40px;
    }

    .estrelas {
        display: flex;
        gap: 8px;
        font-size: 32px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .estrela {
        color: gray;
        transition: 0.2s;
    }

    .estrela.selecionada {
        color: gold;
    }

    textarea {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 10px;
        margin: 10px 0;
        outline: none;
        font-size: 16px;
        resize: none;
        height: 80px;
    }

    button {
        background: #4fa3ff;
        border: none;
        padding: 10px 20px;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: 0.3s;
    }

    button:hover {
        background: #337ccc;
    }