body {
  background: #1b1b1b;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.titulo {
  text-align: center;
  margin: 30px 0;
  font-size: 32px;
 margin-top: 130px;
}

.lista-locais {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  padding: 20px 40px;
}

.card {
  background: #2d73cb;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.imagem-card {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.conteudo-card {
  padding: 15px;
}

h2 {
  margin: 10px 0 5px;
}

.endereco {
  font-size: 14px;
  margin: 0 0 10px;
}

.titulo-horario {
  font-weight: bold;
  margin-top: 12px;
}

.avaliacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.nota {
  font-size: 20px;
  font-weight: bold;
}

.saiba-mais {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 900px) {
  .lista-locais {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .lista-locais {
    grid-template-columns: 1fr; 
  }
}
