:root{
  --cor-fundo-nav: #1a4289;
  --cor-texto-nav: #ffffff;
  --cor-fundo-botao: #2f78d8;
}

* {
  box-sizing: border-box;

}

html, body {
  height: 100%;
  font-family: sans-serif;
}

nav {
  background-color: var(--cor-fundo-nav);
  color: var(--cor-texto-nav);
  padding: 0.5rem 1.5rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-esquerda {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-texto-nav);
  text-decoration: none;
}

.logo img {
  width: 100px;
  height: 80px; 
  object-fit: contain;
}


.menu-botoes {
  display: flex;
  gap: 10px;
}

.menu-botoes a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-texto-nav);
  padding: 6px 10px; 
  font-size: 1.1rem; 
  transition: background-color 0.3s;
}

.menu-botoes a:hover {
  background-color: var(--cor-fundo-botao);
  border-radius: 6px;
}


.perfil-container {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.icone-pesquisa {
  width: 35px; 
  height: 25px; 
}

.perfil img {
  width: 40px; 
  height: 30px; 
  border-radius: 50%;
}

main {
  margin-top: 100px; 
  padding: 20px;
  color: var(--cor-texto-nav);
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 1rem;
  }

  .nav-esquerda {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .menu-botoes {
    flex-direction: column;
    width: 100%;
  }

  .menu-botoes a {
    width: 100%;
    padding: 8px;
  }

  .perfil-container {
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }

  .logo img {
    width: 90px; 
    height: auto;
  }
}
