:root {
  --cor-fundo-nav: #1a4289;     
  --cor-texto-nav: #ffffff;     
  --cor-hover-nav: #030914;    
  --cor-cadastro: #f9732b;
  --cor-fundo-footer: #08224a;
  --cor-texto-footer: #ffffff;
  --cor-link-footer: #f57c33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--cor-fundo-nav);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-esquerda, .menu-direita {
  display: flex;
  gap: 20px;
}

.menu-direita-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

nav a {
  color: var(--cor-texto-nav);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--cor-hover-nav);
}

.cadastro {
  background-color: var(--cor-cadastro);
  color: white;
}

.container .btn {
  background-color: var(--cor-cadastro);
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
}

.footer {
  background-color: var(--cor-fundo-footer);
  color: var(--cor-texto-footer);
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: var(--cor-link-footer);
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-esquerda,
  .menu-direita {
    flex-direction: column;
    background-color: var(--cor-fundo-nav);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
  }

  .menu-esquerda.show,
  .menu-direita.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
