:root {
    --fundo-geral: #1b1b1b;
    --fundo-caixa: #14427a;
    --cor-texto: #ffffff;
    --cor-botao: #f57c33;
    --cor-botao-hover: #ff9b5a;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--fundo-geral);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 850px;
    max-width: 95%;
    margin: 40px auto;
    background-color: var(--fundo-caixa);
    padding: 25px;
    border-radius: 12px;
    margin-top: 130px;
}

.topo-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.topo-perfil h1 {
    margin: 0;
}

.botao-config {
    padding: 10px 18px;
    background-color: var(--cor-botao);
    border-radius: 8px;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.botao-config:hover {
    background-color: var(--cor-botao-hover);
}

.caixa-perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.caixa-perfil img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #fff;
}

.informacoes h2,
.informacoes p {
    margin: 5px 0;
    font-size: 18px;
}

@media (max-width: 600px) {
    .caixa-perfil {
        flex-direction: column;
        text-align: center;
    }
}