:root {
    --fundo: #1e1e1e;
    --azul: #2d73cb;
    --azul-escuro: #0f3264;
    --texto: #ffffff;
    --input: #e7e7e7;
    --botao: #ff8b1f;
    --botao-hover: #ffab50;
}

body {
    background: var(--fundo);
    font-family: Arial, sans-serif;
    color: var(--texto);
    padding: 20px;
    margin: 0;
}

.btn-criar {
    display: inline-block;
    margin: 20px 0 0 25px;
    background: var(--botao);
    color: #000;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 120px;
}

.btn-criar:hover {
    background: var(--botao-hover);
}

.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.lista-publicacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.cartao-publicacao {
    background: var(--azul);
    padding: 15px;
    border-radius: 12px;
    display: flex;
    gap: 15px;
}

.imagem-publicacao {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.conteudo-publicacao h2 {
    margin-top: 0;
}

.texto-endereco {
    opacity: 0.9;
}

.titulo-horario {
    margin-top: 10px;
    font-weight: bold;
}

.avaliacao {
    margin-top: 8px;
}

.nota {
    background: #ffe27a;
    color: #000;
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: bold;
}

.botoes-acoes {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-editar,
.btn-excluir {
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.btn-editar {
    background: var(--botao);
}

.btn-editar:hover {
    background: var(--botao-hover);
}

.btn-excluir {
    background: #d32f2f;
    color: white;
}

.btn-excluir:hover {
    background: #ff5b5b;
}

@media (max-width: 600px) {
    .cartao-publicacao {
        flex-direction: column;
        text-align: center;
    }

    .imagem-publicacao {
        width: 100%;
        height: 200px;
    }
}
