:root {
    --fundo: #1e1e1e;
    --azul: #15438A;
    --azul-escuro: #0f3264;
    --botao: #ff8b1f;
    --botao-hover: #ffab50;
    --texto: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--fundo);
    color: var(--texto);
}

.servicos-container {
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: auto;
    margin-top: 130px;
}

.cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    background: var(--azul);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;    
    transition: 0.3s;
    display: block;

}
.card, 
.card * {
    text-decoration: none !important;
    color: inherit !important;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 1rem 1.2rem;
    line-height: 1.4rem;
}

.card-content h3 {
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.card-content .label {
    font-weight: bold;
    color: #ffe27a;
    font-size: 0.9rem;
}

.card-content button {
    background: var(--botao);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 0.8rem;
    cursor: pointer;
    font-weight: bold;
}

.card-content button:hover {
    background: var(--botao-hover);
}
